@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bg-carbon-fiber {
  background-image: url("https://res.cloudinary.com/dsuydyqgz/image/upload/v1721065837/08-9ff-practice-page/rhkcmiujvala8jrzezpm.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
