@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

@media (prefers-color-scheme: dark) {
}

body {
  background-color: #f3f4f6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bg-carbon-fiber {
  background-image: url("https://res.cloudinary.com/dsuydyqgz/image/upload/v1721065837/08-9ff-practice-page/rhkcmiujvala8jrzezpm.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon-hover {
  transition: ease-in-out 200ms;
  cursor: pointer;
}

.icon-hover:hover {
  color: #b0a17b;
}
